@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ee3241;
  --color-secondary: #4573c4;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Estilos para el carrusel */
.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
}